// Specific CSS for your home-page
.banner {
  // background: #F4F4F4;
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  width: 100%;
  // position: static;
  // bottom: 0px;
  background-size: cover;
  background-position: center;
}
