<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)), url('<%= cl_image_path "nawkpmjpibkjpac1lsfy", crop: :fit %>')">
  <div class="container">
    <h1>SPRKL</h1>
    <strong>[brand tagline to go here]</strong>
    <p>[call to action goes here]</p>
    <a class="btn btn-primary" href="#">Browse items</a>
  </div>
</div>

<%= render 'items/itemcard' %>
