<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)), url('<%= cl_image_path "nawkpmjpibkjpac1lsfy", crop: :fill %>')">
  <div class="container">

  <div class="row">
    <div class="col-sm">
      <h1>Accessories to make you stand out from the crowd</h1>
      <br>
      <%= link_to "Browse items", items_path, class: "btn btn-primary" %>
    </div>
    <div class="col">
    </div>
  </div>

  </div>
</div>
<br>
<div class="container">
  <%= render 'items/itemcard' %>
</div>
<br>
