<div class="product_cards">
  <% @items.each do |item| %>
    <div class="card-product">
      <%= cl_image_tag(item.photo, crop: :fit) %>
      <div class="card-product-infos">
        <div >
          <h2><%= link_to item.name, item_path(item) %></h2>
          <h2><%= item.price %> pounds</h2>
        </div>
      </div>
    </div>
  <% end %>
</div>

