<h2 class="container">All jewellery:</h2>
<div class="container">
  <div class="row">
    <div class="col-sm-2 col-md-8 col-lg-12">

      <div class="grid">
      <%= render 'itemcard' %>
      </div>

    </div>
  </div>
</div>


