.product_cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.card-product {
  overflow: hidden;
  height: 180px;
  width: 100%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
  display: flex;
  border-radius: 5px;
}

.card-product-carousel {
  position: relative;
  overflow: hidden;
  height: 180px;
  width: 350px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
  // display: flex;
  border-radius: 5px;
  // margin-left: 30px;
  h1 {
    position: absolute;
    top: 1rem;
    z-index: 100;
    text-align: center;
    width: 100%;
    margin-top: 50px;
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.3);
    a {
      color: white;
      text-decoration: none;
      background-color: transparent;
    }
  }
}

.text{
  color: white;
}

.card-product img {
  height: 100%;
  width: 50%;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product {
  .card-product-infos {
    display: flex;
    justify-content: center;
    flex-grow: 1;
  }
}

// .card-product-infos {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-around;
//   flex-grow: 1;
// }
// *** HTML TEMPLATE TO USE WITH THIS CARD ***

// <div class="card-product">
//    <%= cl_image_tag("CLOUDINARY IMAGE NAME HERE", :width => 240, :height => 240 :crop => "fit") %>
//   <div class="card-product-infos">
//     <h2>Product name</h2>
//     <p>Product description with <strong>relevant info</strong> only.</p>
//   </div>
// </div>
