.form {
  background-size: cover;
  background-position: center;
  background-color: $white;
  height: 100%;
  align-items: center;
  color: $purple;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 20px auto;
  padding: 50px 50px;
}

.black {
  color: $purple;
}
