<br>
<div class="container">
  <h3>Check out <%= @user.name %>'s Reviews!</h3>
  <div class="d-flex flex-wrap">
    <% @reviews.each do |review| %>
      <div class="card mr-3 my-3" style="width: 18rem;">
        <div class="card-body">
           <%= review.title %>
           <%= review.content %>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to 'Write a review!', new_user_review_path(@user), class:"btn btn-primary my-3" %>
</div>

